<p>
<%= f.label :meal_name %>
<%= f.text_field :meal_name %>
</p>

<p>
<%= f.label :meal_price %>
<%= f.text_field :meal_price %>
</p>

<p>
<%= f.label :cuisine_type %>
<%= f.text_field :cuisine_type %>
</p>

<p>
<%= f.label :restaurant_id %>
<%= f.text_field :restaurant_id %>
</p>

<p>
<%= f.label :meal_photo %>
<%= f.file_field :meal_photo %>
</p>

</br>
</br>