<table class = "table table-striped">
      <thead>
        <tr>
          <th>Meal Name</th>
          <th>Meal Price</th>
          <th>Cuisine Type</th>
          <th>Picture</th>
          <%= link_to "Home", root_path %>
        </tr> 
      </thead>
      <tbody>
    
    <% @meals.each do |meal| %>
          <tr>
            <td><%= meal.meal_name %></td>
            <td><%= meal.meal_price %></td>
            <td><%= meal.cuisine_type %></td>
            <td><%= image_tag meal.meal_photo.url(:thumb) %></td>
            <!--Put information here 
            <td><%#= rest.meal_name %></td>
            <td><%#= rest.meal_price %></td>
            <td><%#= rest.restaurant_area %></td>
            <td><%#= rest.restaurant_address %></td>
            <td><%#= rest.cuisine_type %></td>
            <td><%#= image_tag rest.picture.url(:thumb) %></td>-->
            <td><%= link_to 'Show', meal %></td>
            <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
            <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New', new_meal_path %>