<p id="notice"><%= notice %></p>

<p>
  <strong>Meal name:</strong>
  <%= @meal.meal_name %>
</p>

<p>
  <strong>Meal price:</strong>
  <%= @meal.meal_price %>
</p>

<p>
  <strong>Cuisine type:</strong>
  <%= @meal.cuisine_type %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @meal.restaurant_id %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
