<%= simple_form_for @restaurant do |f| %>
  <%= f.simple_fields_for :locations do |l|  %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= l.input :street_address %>
      <%= l.input :zipcode %>
      <%= l.input :city %>
      <%= l.input :area %>
      <%= l.input :restaurant_id %>
    </div>

    <div class="form-actions">
  <% end %>
    
  </div>
  <%= f.button :submit %>
<% end %>
